# Скопируйте этот файл в `.env` и подстройте под своё окружение.
# Файл .env игнорируется git и автоматически читается при старте тестов.

# Base URL под тестом. Поменять, чтобы направить набор на любое окружение.
BASE_URL=https://the-internet.herokuapp.com

# Валидные учётные данные для защищённой зоны.
LOGIN_USERNAME=tomsmith
LOGIN_PASSWORD=SuperSecretPassword!
